.hero {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-image: url(../../assets/Videos/pokevideo.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-heroimg {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;

  }
  .logoimg {
    width: 500px;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

}