.pokemons {
  .imgpokemons{
    padding: 10px;
    width: 250px;
    height: 150px;
  }
  .bold{
    font-weight: bold;
  }
  h1 {
      font-family: "pkh";
      font-weight: bold;
      letter-spacing: 5px;
      color: rgb(235, 54, 54);
  }
  h5 {
      font-family: "pkh";
      font-weight: bold;
      
  }

  .bgcard {
    background-image: url(../../assets/Images/card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
}