.categories {
  h1 {
    font-family: "pkh";
    font-weight: bold;
    letter-spacing: 5px;
    color: rgb(235, 54, 54);
  }

  h4 {
    font-weight: bold;
  }

  .fire {
    background-color: #fd7d24;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .grass {
    background-color: #9bcc4f;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .electric {
    background-color: #eed435;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .water {
    background-color: #4593c4;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .ground {
    background-color: #693500;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .rock {
    background-color: #a38c22;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .fairy {
    background-color: #fdb9ea;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .poison {
    background-color: #b97fc9;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .bug {
    background-color: #729f40;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .dragon {
    background-color: #97b3e6;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .psychic {
    background-color: #f466ba;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .flying {
    background-color: #00bcd4;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .normal {
    background-color: #858585;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .fighting {
    background-color: #d56722;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .ice {
    background-color: #53c5e9;
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .steel {
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .ghost {
    background-color: rgb(68, 2, 68);
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }

  .dark {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    border: 2px #fff solid;
    padding: 10px 10px;
  }
}