.detalle {

  .imgpokemons {
    padding: 10px;
    width: 250px;
    height: 150px;
  }

  .bold {
    font-weight: bold;
  }

  h1 {
    font-family: "pks";
    font-weight: bold;
    letter-spacing: 5px;
  }

  h2 {
    font-family: "pkh";
    font-weight: bold;
    letter-spacing: 5px;
  }

  h3 {
    font-family: "pkh";
    font-weight: bold;
    letter-spacing: 2px;
  }
  h5 {
    font-family: "pks";
    font-weight: bold;
    letter-spacing: 2px;
  }

  .bgcard {
    background-image: url(../../assets/Images/card.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: 2px rgb(235, 54, 54) solid;
  }


}