.navbar {
  background-color: transparent;
  transition-duration: 1s;
  transition-property: background-color;
}

.navbar.active {
  background-color: #000000;
  transition-duration: 1s;
  transition-property: background-color;
}