.footer {
  background-color: black;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 30vh;

  .ptft {
    padding-top: 100px;

    @media (min-width: 450px) {
      padding-top: 150px;
    }
    p{
      font-size: 1rem;
    }

    .red {
      color: rgb(235, 54, 54);
    }

  }
}