@font-face {
  font-family: "pkh";
  src: url(./assets/fonts/Pokemon\ Hollow.ttf);
}

@font-face {
  font-family: "pks";
  src: url(./assets/fonts/Pokemon\ Solid.ttf);
}

.App {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11) !important;
}

.zoom {
  transition: transform 0.3s;
}

.zoom:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
}

.fire {
  color: #fd7d24;
}

.grass {
  color: #9bcc4f;
}

.electric {
  color: #eed435;
}

.water {
  color: #4593c4;
}

.ground {
  color: #693500;
}

.rock {
  color: #a38c22;
}

.fairy {
  color: #fdb9ea;
}

.poison {
  color: #b97fc9;
}

.bug {
  color: #729f40;
}

.dragon {
  color: #97b3e6;
}

.psychic {
  color: #f466ba;
}

.flying {
  color: #00bcd4;
}

.normal {
  color: #858585;
}

.fighting {
  color: #d56722;
}

.ice {
  color: #53c5e9;
}

.steel {
  color: rgb(54, 54, 54);
}

.ghost {
  color: rgb(68, 2, 68);
}